name: tests

on:
  push:
    branches: [ main, typescript ]
  pull_request:
    branches: [ main, typescript ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['14', '16', '18']
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      
      - name: Install Dependencies  
        run: npm install

      - name: Run Build  
        run: npm run build
        
      - name: Test Packages
        run: npm test

      - name: Code Coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_KEY }}
